.skillBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #797979;
    transition: all 0.2s ease-in;
}

.skillBlock:hover {
    transform: scale(1.08);

    -webkit-box-shadow: 0 0 15px 4px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 15px 4px rgb(0, 0, 0);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0);

    transition: all 0.2s ease-in;
}

.icon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
