.mainBlock {
    position: relative;
    display: flex;
    /*justify-content: space-between;*/
    /*margin-top: 70px;*/
    margin: 70px auto 70px;



    /*position: absolute;*/
    /*top: 70px;*/
    /*bottom: 70px;*/
    /*left: 0;*/
    /*right: 70px;*/
    /*overflow: hidden;*/


    /*display: flex;*/
    /*top: 70px;*/
    /*bottom: 70px;*/
    /*left: 70px;*/
    /*right: 70px;*/
    /*overflow: hidden;*/
    /*height: 100%;*/
    /*display: flex;*/
}

.photoBlock {
    position: fixed;

    top: 70px;
    /*bottom: 0;*/
    left: 5%;
    /*width: 40%;*/
    /*z-index: 15;*/


    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 100px;*/
    /*right: 0;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: 50%;*/
}

.photoBlock img {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    max-height: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;


}

.content {
    position: absolute;
    left: 35%;



}