.skillsBlock {

}

.skills_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    margin: auto auto;
    max-width: 80%;
}

@media (max-width: 767px){
    .skillsBlock{
        margin: -50px auto 0;
    }
}