.about {

}

.aboutMeBlock {
    display: flex;
    justify-content: space-between;
    /*justify-content: flex-start;*/
    /*flex-wrap: wrap;*/
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #545454;

    max-width: 80vh;
    margin: auto 0;
}
