.footerBlock{
    /*margin: 0 auto;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 90;

    background-color: #fff;
    line-height: 60px;
}

.footerWrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text{
    color: #333;
    /*font-family: poppins;*/
}

.logos{
    display: flex;
}