.footerBlock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 90;

    background-color: #fff;
    line-height: 60px;
}

.footerWrapperMax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerWrapperMin {
    display: none;

}

.footerWrapperMin img {
    width: 18px;
    height: 18px;
    padding: 0 10px;
}

.text {
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.logos {
    display: flex;
}

@media (max-width: 1120px) {
    .footerBlock {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .footerBlock {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .footerBlock {
        background-color: #cccccc;
        max-width: none;
    }

    .footerWrapperMax {
        display: none;
    }

    .footerWrapperMin {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
    }

    .button {
        opacity: 0.6;
    }

    .buttonActive img {
        transform: scale(1.8);
        transition: all 0.2s ease-in;
    }
}