.contact_item {
    width: 250px;
    height: 80px;
    border: 1px solid #b0b0b0;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_item img {
    width: 20px;
    height: 20px;

    margin-bottom: 15px;
}

.contact_item a:link, .contact_item a:visited{
    text-decoration: none;
    color: black;
}
