.contacts {

}

.contactsContainer {

}

.contacts_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logos{
    display: none;
}

.formContainer {
    display: flex;
    justify-content: space-between;
}

.text_block {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}

.text_block span {
    font-size: 30px;
    color: #545454;
}

.span1 {

}

.span2 {
    display: inline-block;
    margin-left: 60px;
    margin-top: 40px;
}

.span3 {
    display: inline-block;
    margin-left: 120px;
    margin-top: 40px;
}

.form_block {
    margin-top: 60px;
    text-align: center;
}

.form_block input {
    width: 450px;
    height: 40px;

    display: block;
    margin: 15px 0;
}

.inputError{
    border: red solid 2px;
    border-radius: 4px;
}
.form_block textarea {
    width: 450px;
    height: 105px;
    resize: none;
    margin: 5px 0;
}

.form_block_btn {
    color: white;
    padding: 16px 42px;
    text-decoration: none;
    text-align: center;
    background-color: #333;
    background-image: linear-gradient(to left, transparent, transparent 50%, #333 50%, #333);
    background-position: 100%;
    background-size: 200% 100%;
    transition: all .40s ease-in;
    font: 400 18px Tahoma;
    font-weight: 200;
    border: 2px solid #333;
}

.form_block_btn:hover {
    color: #333;
    background-color: white;
    border: 2px solid #333;
}

@media (max-width: 1120px) {
    .contacts {
        max-width: 970px;
    }

    .contactsContainer {
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .contacts {
        max-width: 750px;
    }

    .contactsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 750px;
    }

    .contacts_block {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .span3 {
        margin-bottom: 20px;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .contacts {
        margin: -50px auto 0;
        display: flex;
        flex-direction: column;
        max-width: none;
    }

    .contactsContainer {
        display: flex;
        flex-direction: column;
    }
    .logos{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    .text_block {
        text-align: center;
    }
    .span2 {
        margin: 0;
    }

    .span3 {
        margin: 0 0 20px 0;
    }

    .form_block input {
        max-width: 280px;
    }

    .form_block textarea {
        max-width: 280px;
    }


}